<div class="container">
  {{#if poster}}
  <div class="row">
    <div class="col-lg-8">
      <div class="container mb-5 mtt">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <img src="{{url}}{{poster.image}}"
                class="rounded mt-lg-3 mb-lg-3 img-fluid img-poster-page mx-auto d-block" alt="..." />
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="card">
                <div class="mb-3">
                  <p class="card-text"><small class="text-muted">Joylangan sana - 11.07.2021 16:45</small></p>
                </div>
                <h3 class="poster-page-title">{{poster.title}}</h3>
                <h1 class="poster-page-amount mb-5">500 000 SO'M</h1>
                <h5>Tavsif</h5>
                <p>{{poster.description}}</p>
                <hr />
                <div class="d-flex justify-content-between">
                  <p>ID: {{poster._id}}</p>
                  <p>Ko'rildi: 1025</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="container mb-5 mtt">
        <div class="row">
          <div class="card p-3">
            <h4 class="mb-5">Foydalanuvchi</h4>
            <div class="d-flex justify-content-between">
              <img src="./assets/noAvatar.png" class="rounded-circle img-fluid" alt="Cinque Terre"
                style="width: 100px; height: 100px" />
              <div class="d-flex flex-column">
                <a href="#">
                  <h5>Eshmatov Toshmat</h5>
                </a>
                <p>Saytda: 01.01.2021 dan beri</p>
                <p>E'lonlar soni: 20 ta</p>
              </div>
            </div>
            <a href="#" type="button" class="btn btn-outline-secondary">+998911234567</a>
            <a href="#" type="button" class="btn mt-3 btn-success">Muallifning
              boshqa e'lonlari</a>
            <a href="/posters/{{poster._id}}/edit" type="button" class="btn mt-3 btn-warning">
              O'zgartirish
            </a>
            <form action="/posters/{{poster._id}}/delete" method="POST" class="w-100">
              <button type="submit" class="btn mt-3 btn-danger w-100">
                O'chirish
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>